torch
torchvision
tensorflow
numpy
scipy

langchain
langchain-core
langchain-community
langchain-ollama
ollama

opencv-python
mediapipe
ultralytics
deep-sort-realtime
Pillow

diffusers
transformers
accelerate
safetensors

pyautogui
autopy
keyboard
mouse
pywin32

selenium
webdriver-manager
beautifulsoup4

SpeechRecognition
pyttsx3
PyAudio

nltk

requests
httpx

pytube

pandas

matplotlib

python-dotenv
tqdm
absl-py
